<!-- app/views/infos/header.html.erb -->
<div style="width: 100%;border-bottom: 1px solid #000; font-family: Arial, sans-serif; font-size: 12px; padding: 10px 0; box-sizing: border-box;height:30%;">
  <table style="width: 100%; border-collapse: collapse; text-align: center;">
    <tr>
      <!-- Left Column -->
      <td style="width: 25%; vertical-align: top; text-align: left; padding: 0 8px;">
        <div style="font-weight: normal; font-size: 14px; text-decoration: underline;">
          विभाग / Department
        </div>
        <div style="font-weight: normal; font-size: 14px;">
          संगणक विज्ञान एवं अभियांत्रिकी
        </div>
        <div style="font-weight: bold; font-size: 14px;">
          Computer Science and Engineering
        </div>
      </td>

   
      

      <!-- Right Column -->
      <td style="width: 50%; vertical-align: top; text-align: left; padding: 0 8px;">
        <div style="font-size: 14px; font-weight: normal;">
          राष्ट्रीय प्रौद्योगिकी संस्थान कर्नाटक, सुरथकल, मंगलूरु-५७५०२५
        </div>
        <div style="font-size: 12px; font-weight: normal;">
          (राष्ट्रीय महत्व का संस्थान, एनआईटीएसआईआर अधिनियम के तहत स्थापित, भारत सरकार)
        </div>
        <div style="font-size: 14px; font-weight: bold;">
          National Institute of Technology Karnataka, Surathkal, Mangaluru – 575025
        </div>
        <div style="font-size: 11px; font-weight: normal;">
          (An Institute of National Importance, Established under NITSER Act, Government of India)
        </div>
        <div style="font-size: 11px; font-weight: normal;">
          दूरभाष / Phone: +91-824-2473400 (O), ई-मेल / E-mail:
          <span style="text-decoration: underline;">hodcse@nitk.edu.in</span>
        </div>
      </td>
         <!-- Center Column (Logo) -->
      <td style="width: 25%; vertical-align: middle; text-align: center;">
        <img src="<%= wicked_pdf_asset_base64('image.png') %>" style="width: 70px; height: auto;">
      </td>
    </tr>
  </table>
</div>
